{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="starter-template">
        <div class="form-horizontal" ng-controller="FormsCtrl" role="form">
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    {% if state_inscriptions == 'Open' %}
                    <div class="col-lg-offset-3">
                        <span style="font-size: x-large; color: orangered;">
                            Registers will close at {{ close_date }}
                        </span>
                    </div>
                    {% else %}
                    <div class="col-lg-offset-4">
                        <span style="font-size: xx-large; color: red;">
                            Registers are closed!
                        </span>
                    </div>
                    {% endif %}
                    </div>
                    {% if state_inscriptions == 'Open' %}
                    <div class="btn-group"style="float: right; margin-right: 10px">
                            <a type="button" data-ng-click="change_form()" ng-value="name_form" class="btn btn-warning btn-lg">
                                {[{ name_form }]}
                            </a>
                    </div>
                    {% endif %}
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-0">
                    <div id="servers_info">
{#                        <div   class="dropdown">#}
{#                        <a type="button" data-ng-click="change_stats()" class="btn btn-default">Show servers stats</a>#}
                        <button class="btn btn-info btn-lg btn-block" data-toggle="dropdown" role="button">Show servers stats</button>
                        <div id="server_stats" class="initial_form">
                            {% for server in servers.items %}
                                <div><span style="color:white;">{{ server.0 }} </span>
                                    {% if server.1 == "online" %}
                                        <span style="color:green;">{{ server.1 }}</span>
                                    {% else %}
                                        <span style="color:red;">{{ server.1 }}</span>
                                    {% endif %}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="notices_">
{#                        <div   class="dropdown">#}
{#                        <a type="button" data-ng-click="change_stats()" class="btn btn-default">Show servers stats</a>#}
                        <button class="btn btn-info btn-lg btn-block" data-toggle="dropdown" role="button">Notices</button>
                        <div id="notices" class="initial_form">
                            {% for notice in notices %}
                                <div>{{ notice.text }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="div_login" ng-show="is_visible" ng-controller="FormController" class="col-sm-8 col-sm-offset-0">
                    <form id="login" method="post" class="initial_form" action="{% url 'login' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <img src="{% static 'Manager/pictures/logo_lol.png' %}">
                        </div>
                        <legend> Log In </legend>
                        <input type="text" class="form-control" name="username" placeholder="User" required /><br><br>
                        <input type="password" class="form-control" name="password" placeholder="Password" required /><br><br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div id="div_register" ng-hide="is_visible" ng-controller="FormController" class="col-sm-8 col-sm-offset-0">
                    <form id="register" name="registerForm" class="initial_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data" >
                        {% load Manager_extras %}
                        {% csrf_token %}
                        <div>
                            <img src="{% static 'Manager/pictures/logo_lol.png' %}">
                        </div>
                        <legend> Join the Competition! </legend>
                        <input type="text" class="form-control" name="team_name" placeholder="Team name" required />
                        <input type="email" class="form-control" name="team_email" placeholder="email" required />
                        <input type="password" id="pw1" class="form-control" name="password" placeholder="Password" ng-model="pw1" ng-required="" />
                        <input type="password" id="pw2" class="form-control" name="pw2" placeholder="Confirm password" ng-model="pw2" ng-required="" pwCheck="pw1" />
                        <div class="msg-block" ng-hide="are_equals">
                            <span class="msg-error">Passwords don't match.</span>
                        </div>
                        <i class="fa fa-icon fa-2x">Players</i><br>
                        {% for i in 5|get_range %}
                            <div class="form-group">
                                <label for="inputID" class="col-sm-2 control-label">Player {{ i }}:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="name" id="name_{{ i }}" class="form-control" value="" placeholder="Name" required="required" >
                                    <input type="text" name="email" id="email_{{ i }}" class="form-control" value="" placeholder="Email" required="required" >
                                    <label>Role:</label>{{ player_form.role }}
                                    <div id="alert_{{ i }}" ></div>
                                </div>
                            </div>
                        {% endfor %}
{#                        <button type="submit" class="btn btn-primary">Submit</button>#}
                        <button onclick="submitform()" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>
<script>

    $(function(){
        $('#server_stats').hide();
        $('#notices').hide();
        registers = "{{ state_inscriptions }}";
    });

    var app = angular.module('manager',['ngSanitize']).config(function($interpolateProvider){
    $interpolateProvider.startSymbol('{[{');
    $interpolateProvider.endSymbol('}]}');
    });

    $('#servers_info').on('show.bs.dropdown', function(e){
        $(this).find('#server_stats').first().stop(true,true).slideDown();
    });

    $('#notices_').on('show.bs.dropdown', function(e){
        $(this).find('#notices').first().stop(true,true).slideDown();
    });

    $('#servers_info').on('hide.bs.dropdown', function(e){
        $(this).find('#server_stats').first().stop(true,true).slideUp();
    });

    $('#notices_').on('hide.bs.dropdown', function(e){
        $(this).find('#notices').first().stop(true,true).slideUp();
    });


    app.controller('FormsCtrl', ['$scope','$http', '$sce', '$compile', function($scope, $http, $sce,$compile) {
        var registers = "{{ state_inscriptions }}";
        if(registers == 'Open') {
            $scope.is_visible = false;
            $scope.name_form = "Log in";
        }else{
            $scope.is_visible = true;
        }
        $scope.change_form = function(){
            if ($scope.is_visible == true){
                $scope.is_visible = false;
                $scope.name_form = "Log in";
            }else{
                $scope.is_visible = true;
                $scope.name_form = "Register";
            }
        }
    }]);

    app.controller('FormController', function($scope) {
        $scope.pw1='';
        $scope.pw2='';
        $scope.$watchGroup(['pw1', 'pw2'], function (value) {
            if (value[0] == value[1]) {
                $scope.are_equals=true;
            } else {
                $scope.are_equals=false;
            }
        });
    });

    function submitform(){
        frm = $('#register');
        if ($('#pw1').val() == $('#pw2').val())
            frm.submit();
        else{
            alert("Passwords no coincideixen");
        }
    }
</script>
{% endblock %}