{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="starter-template">
        <div class="form-horizontal" ng-controller="FormsCtrl" role="form">
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    </div>
                    <div class="btn-group">
{#                            <a type="button" data-ng-click="load_form('{% url 'login' %}')" class="btn btn-default">Login</a>#}
{#                            <a type="button" data-ng-click="load_form('{% url 'register' %}')" class="btn btn-default">Register</a>#}
                            <a type="button" data-ng-click="change_form()" ng-value="name_form" class="btn btn-warning btn-lg">
                                {[{ name_form }]}
                            </a>
                    </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-0">
                    <div id="servers_info">
{#                        <div   class="dropdown">#}
{#                        <a type="button" data-ng-click="change_stats()" class="btn btn-default">Show servers stats</a>#}
                        <button class="btn btn-info btn-lg btn-block" data-toggle="dropdown" role="button">Show servers stats</button>
                        <div id="server_stats" class="initial_form">
                            {% for server in servers.items %}
                                <div><span style="color:white;">{{ server.0 }} </span>
                                    {% if server.1 == "online" %}
                                        <span style="color:green;">{{ server.1 }}</span>
                                    {% else %}
                                        <span style="color:red;">{{ server.1 }}</span>
                                    {% endif %}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="notices_">
{#                        <div   class="dropdown">#}
{#                        <a type="button" data-ng-click="change_stats()" class="btn btn-default">Show servers stats</a>#}
                        <button class="btn btn-info btn-lg btn-block" data-toggle="dropdown" role="button">Notices</button>
                        <div id="notices" class="initial_form">
                            {% for notice in notices %}
                                <div>{{ notice.text }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="div_login" ng-show="is_visible" ng-controller="FormController" class="col-sm-8 col-sm-offset-0">
                    <form id="login" method="post" class="initial_form" action="{% url 'login' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <img src="{% static 'Manager/pictures/logo_lol.png' %}">
                        </div>
                        <legend> Log In </legend>
                        <input type="text" class="form-control" name="username" placeholder="User" required /><br><br>
                        <input type="password" class="form-control" name="password" placeholder="Password" required /><br><br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div id="div_register" ng-hide="is_visible" ng-controller="FormController" class="col-sm-8 col-sm-offset-0">
                    <form id="register" name="registerForm" class="initial_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data" >
                        {% load Manager_extras %}
                        {% csrf_token %}
                        <div>
                            <img src="{% static 'Manager/pictures/logo_lol.png' %}">
                        </div>
                        <legend> Join the Competition! </legend>
                        <input type="text" class="form-control" name="team_name" placeholder="Team name" required />
                        <input type="email" class="form-control" name="team_email" placeholder="email" required />
                        <input type="password" id="pw1" class="form-control" name="password" placeholder="Password" ng-model="pw1" ng-required="" />
                        <input type="password" id="pw2" class="form-control" name="pw2" placeholder="Confirm password" ng-model="pw2" ng-required="" pwCheck="pw1" />
                        <div class="msg-block" ng-hide="are_equals">
                            <span class="msg-error">Passwords don't match.</span>
                        </div>
                        <i class="fa fa-icon fa-2x">Players</i><br>
                        {% for i in 5|get_range %}
                            <div class="form-group">
                                <label for="inputID" class="col-sm-2 control-label">Player {{ i }}:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="name" id="name_{{ i }}" class="form-control" value="" placeholder="Name" required="required" >
                                    <input type="text" name="email" id="email_{{ i }}" class="form-control" value="" placeholder="Email" required="required" >
                                    <label>Role:</label>{{ player_form.role }}
                                    <div id="alert_{{ i }}" ></div>
                                </div>
                            </div>
                        {% endfor %}
{#                        <button type="submit" class="btn btn-primary">Submit</button>#}
                        <button onclick="submitform()" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}